<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd  
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
      http://www.springframework.org/schema/aop  
      http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

    <bean id="SpringApplicationContext" class="com.yuguo.net.utils.ContextBeanUtils"></bean>  
	
	<bean id="tSysAdvertiseDAO" class="com.yuguo.net.dao.TSysAdvertiseDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
    <bean id="kindEditorController" class="com.yuguo.net.controller.KindEditorController">
		<property name="kindEditorService" ref="kindEditorService"></property>
	</bean>
    <bean id="kindEditorService" class="com.yuguo.net.service.impl.KindEditorService">
		<property name="sysPictureInfoDAO" ref="sysPictureInfoDAO"></property>
	</bean>

	<bean id="sysPictureInfoDAO" class="com.yuguo.net.dao.SysPictureInfoDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="tMallGoodInfoDAO" class="com.yuguo.net.dao.MallGoodsInfoDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="mallGoodsDAO" class="com.yuguo.net.dao.MallGoodsDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="mallGoodsClassDAO" class="com.yuguo.net.dao.MallGoodsClassDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="sysMerchantInfoDAO" class="com.yuguo.net.dao.SysMerchantInfoDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="sysDictionaryDAO" class="com.yuguo.net.dao.SysDictionaryDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="sysUserAuthorityDAO" class="com.yuguo.net.dao.SysUserAuthorityDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="sysUserRoleDAO" class="com.yuguo.net.dao.SysUserRoleDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="sysAdvertiseDAO" class="com.yuguo.net.dao.TSysAdvertiseDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="sysAdvertiseAdminDAO" class="com.yuguo.net.dao.SysAdvertiseAdminDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
</beans>